In [1]:
import mariadb
import sys, os
import pandas as pd

conn = mariadb.connect(
    user='bscholz',
    password='qBKnj!xeQMqqV@uV,7VK',
    host='10.8.0.1',
    port=3307,
    database='test_db'
)

In [2]:
cur = conn.cursor()

cur.execute('SELECT * FROM test_tbl')

In [3]:
[x for x in cur]

[]